/.pytest_cache/
/*.egg-info/
/.idea
__pycache__/
*.swp
.tags
/.eggs/
/.venv/
/.tox/
/.cache/
/.coach/
/dist/*.pex
/gym_workloads-*
.coverage
/workloads/tensorflow-train/*.zip
/workloads/tensorflow-inference/fruits-360/
/workloads/tensorflow-inference/*.zip
/workloads/cassandra_ycsb/ycsb/YCSB
config.sh
config-*.sh
/SpecJBB
/dist
*.pyc
/workloads/specjbb/specjbb
run_workloads.retry
.pex-build
