/.pytest_cache/
/*.egg-info/
/.idea
__pycache__/
*.swp
.tags
/.eggs/
/.venv/
/.tox/
/.cache/
/.coach/
/dist/owca.pex
/gym_workloads-*
.coverage
/tensorflow-train/*.zip
*.swp
.coverage
.idea
/wrapper/dist/
/tensorflow-inference/fruits-360/
/tensorflow-inference/*.zip
/cassandra_ycsb/ycsb/YCSB
/kaggle.json
config.sh
