requests==2.24.0                 # 2020.07.09
ruamel.yaml==0.16.10             # 2020.07.09
colorlog==4.1.0                  # 2020.02.07
logging-tree==1.8.1              # 2020.02.07
dataclasses==0.7                 # 2018.10.20
kazoo==2.7.0                     # 2020.07.09
pex==2.1.12                      # 2020.07.09
pytest==5.4.3                    # 2020.07.09
pytest-cov==2.10.0               # 2020.07.09
flake8==3.8.3                    # 2020.07.09
setuptools_scm==4.1.2            # 2020.07.09
flask==1.1.2                     # 2020.07.09
gunicorn==20.0.4                 # 2019.12.18
jsonpatch==1.26                  # 2020.07.09
