apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

nameSuffix: -big-wss
bases:
- ../base

commonLabels:
  app: redis-memtier-latency-big-wss

configMapGenerator:
- name: memtier
  behavior: merge
  literals:
    - keymaximum_gen=1000000
    - keymaximum_load=1000000
    - extra='--key-stddev=1000000'

patches:
- target:
    kind: StatefulSet
  patch: |-
    apiVersion: foo
    kind: foo
    metadata:
      name: foo
    spec:
      template:
        spec:
          containers:
          - name: service
            resources:
              requests:
                cpu: 2
                memory: 75G
              limits:
                cpu: 2
                memory: 75G
          - name: generator
            resources:
              requests:
                cpu: 0.5
                memory: 2G
              limits:
                cpu: 0.5
                memory: 2G

