[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rmi = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
flake8 = "*"
ipython = "*"
tox = "*"
pex = "*"

[requires]
python_version = "3.6"
