# It is permitted to have one configuration file for specjbb
#	(arguments which are not used in a chosen run mode are ignored).

specjbb.controller.host={load_generator_host_ip}
specjbb.controller.port={load_generator_port}
# Injection rate ~= QPS
specjbb.controller.preset.ir={qps}
# Set to the same value as number cores we assigned to backend
#	(suggested in user guide).
specjbb.forkjoin.workers={cpu_backend}

specjbb.group.count=1
javac2.instrumentation.includeJavaRuntime=false
specjbb.preRunTest=false
specjbb.postRunTest=false
specjbb.controller.type=PRESET
specjbb.controller.preset.duration=10000000
specjbb.controller.rampup.steps=1
specjbb.controller.rt.polling=100
specjbb.logLevel=WARNING
